@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Museo Sans Cyrillic';
  font-weight: 300;
  src: url('./assets/fonts/museo_sans_cyrl_300.ttf') format('truetype');
}
@font-face {
  font-family: 'Museo Sans Cyrillic';
  font-weight: 500;
  src: url('./assets/fonts/museo_sans_cyrl_500.ttf') format('truetype');
}
@font-face {
  font-family: 'Museo Sans Cyrillic';
  font-weight: 700;
  src: url('./assets/fonts/museo_sans_cyrl_700.ttf') format('truetype');
}

:root {
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-grey: #B1B1B1;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all;
  transition-duration: 300ms;
}

body {
  display: block;
  width: 100%;
  font-family: 'Museo Sans Cyrillic', sans-serif;
  font-style: normal;
  margin: 0 auto;
  background-image: url('./assets/images/main.png');
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h3,
h5,
p {
  color: var(--clr-white);
}

h1 {
  font-size: 3.125vw;
  font-weight: 700;
}

h3 {
  font-size: 3.020833vw;
  font-weight: 700;
}

h5 {
  font-size: 1.302083vw;
  font-weight: 500;
}

p {
  font-size: .9375vw;
  font-weight: 300;
}

.btn {
  cursor: pointer;
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
	body {
    background-image: none;
  }
}
