.home {
	display: flex;
	justify-content: space-between;
	margin-right: 17.708333vw;
	margin-left: 19.583333vw;
	padding-top: 7.1875vw;
	&-info {
		padding-top: 4.1vw;
		&__title,
		&__description {
			background-image: linear-gradient(293deg, transparent 7%, #FF3F04 0, #FFF 90%, #FFF 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
		}
		&__title {
			text-transform: uppercase;
			margin-bottom: -8px;
		}
		.button {
			margin-top: 5.208333vw;
		}
	}
	&-boxes {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-gap: .520833vw;
	}
}
