.home {
	display: flex;
	justify-content: space-between;
	margin-right: 17.708333vw;
	margin-left: 19.583333vw;
	padding-top: 7.1875vw;
	&-info {
		padding-top: 4.1vw;
		&__title,
		&__description {
			background-image: linear-gradient(293deg, transparent 7%, #FF3F04 0, #FFF 90%, #FFF 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
		}
		&__title {
			text-transform: uppercase;
			margin-bottom: -.416667vw;
		}
		&__button {
			position: relative;
			margin-top: 4.21875vw;
			&::before,
			&::after {
				content: '';
				position: absolute;
				height: .052083vw;
			}
			&::before {
				right: 8.7125vw;
				top: 2.0125vw;
				width: 4.75vw;
				transform: rotate(30deg);
				background-image: linear-gradient(90deg, transparent 5%, #516784 100%);
			}
			&::after {
				right: -7.8125vw;
				bottom: -1.52825vw;
				width: 16.8725vw;
				background-image: linear-gradient(90deg, #516784 30%, var(--clr-white) 100%);
			}
		}
	}
	.home-info__button:hover::before,
	.home-info__button:hover::after {
		background-image: linear-gradient(90deg, var(--clr-white) 30%, var(--clr-white) 100%);
	}
	&-boxes {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		grid-gap: .520833vw;
	}
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
	.home { 
		display: none;
	}
}
